#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
object-storage/ @SamyOubouaziz
serverless-functions/ @SamyOubouaziz
serverless-containers/ @SamyOubouaziz
serverless-jobs/ @SamyOubouaziz
serverless-sql-databases/ @SamyOubouaziz
developer-tools/ @SamyOubouaziz
data-lab/ @SamyOubouaziz
block-storage/ @SamyOubouaziz

# Rowena
vpc/ @RoRoJ
public-gateways/ @RoRoJ
load-balancer/ @RoRoJ
messaging/ @RoRoJ
interlink/ @RoRoJ
edge-services/ @RoRoJ
ipam/ @RoRoJ
iot-hub/ @RoRoJ
managed-inference/ @bene2k1
generative-apis/ @bene2k1

# Benedikt
instances/ @bene2k1
gpu/ @bene2k1
apple-silicon/ @bene2k1
elastic-metal/ @bene2k1
dedibox-scaleway/ @bene2k1
kubernetes/ @bene2k1
dedibox/ @bene2k1
dedibox-vps/ @bene2k1
dedibox-dns/ @bene2k1
dedibox-hardware/ @bene2k1
dedibox-network/ @bene2k1
dedibox-account/ @bene2k1
dedibox-kvm-over-ip/ @bene2k1
container-registry/ @bene2k1


# Néda
cockpit/ @nerda-codes
domains-and-dns/ @nerda-codes
secret-manager/ @nerda-codes
key-manager/ @nerda-codes
audit-trail/ @nerda-codes
classic-hosting/ @nerda-codes
cpanel-hosting/ @nerda-codes
webhosting/ @nerda-codes

# Luiza
account/ @ldecarvalho-doc
iam/ @ldecarvalho-doc
managed-databases-for-postgresql-and-mysql/ @ldecarvalho-doc
managed-databases-for-redis/ @ldecarvalho-doc
managed-mongodb-databases/ @ldecarvalho-doc
environmental-footprint/ @ldecarvalho-doc
labs/ @ldecarvalho-doc
billing/ @ldecarvalho-doc
transactional-email/ @ldecarvalho-doc
environmental-footprint/ @ldecarvalho-doc
