#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

* @scaleway/tech-writers @scaleway/uxwriters @atissedrescaleway @iManu @Slashgear @dcerbah @Louxor @rachidBensaid