#This is a list of people who will be tagged whenever a PR is opened to edit one of the files listed below.

# Samy
object-storage/ @SamyOubouaziz
serverless-functions/ @SamyOubouaziz
serverless-containers/ @SamyOubouaziz
serverless-jobs/ @SamyOubouaziz
serverless-sql-databases/ @SamyOubouaziz
account/ @SamyOubouaziz
developer-tools/ @SamyOubouaziz
data-lab/ @SamyOubouaziz

# Rowena
vpc/ @RoRoJ
public-gateways/ @RoRoJ
load-balancer/ @RoRoJ
messaging/ @RoRoJ

# Benedikt
instances/ @bene2k1
gpu/ @bene2k1
apple-silicon/ @bene2k1
elastic-metal/ @bene2k1
dedibox-scaleway/ @bene2k1
kubernetes/ @bene2k1
webhosting/ @bene2k1
dedibox/ @bene2k1
dedibox-vps/ @bene2k1
dedibox-dns/ @bene2k1
dedibox-hardware/ @bene2k1
dedibox-network/ @bene2k1
dedibox-account/ @bene2k1
dedibox-kvm-over-ip/ @bene2k1
managed-inference/ @bene2k1
generative-apis/ @bene2k1
classic-hosting/ @bene2k1
cpanel-hosting/ @bene2k1



# Néda
cockpit/ @nerda-codes
domains-and-dns/ @nerda-codes
secret-manager/ @nerda-codes
block-storage/ @nerda-codes
key-manager/ @nerda-codes
audit-trail/ @nerda-codes 
# Luiza
iam/ @ldecarvalho-doc
managed-databases-for-postgresql-and-mysql/ @ldecarvalho-doc
managed-databases-for-redis/ @ldecarvalho-doc
container-registry/ @ldecarvalho-doc
labs/ @ldecarvalho-doc
billing/ @ldecarvalho-doc
serverless-sql-databases/ @ldecarvalho-doc
transactional-email/ @ldecarvalho-doc
environmental-footprint/ @ldecarvalho-doc