name: Changelog contribution
on:
  workflow_dispatch:
    inputs:
      log:
        description: 'Contributed log'
        required: true
      small_title:
        description: 'Small title'
        required: true

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Generate branch id
        id: branch_id
        run: echo "id=$(date +'%Y-%m-%d-%H%M%S')" >> $GITHUB_OUTPUT
      - name: Generate folder date
        id: folder_date
        run: echo "folder_date=$(date +'%B%Y' | tr A-Z a-z)" >> $GITHUB_OUTPUT
      - name: Generate today date
        id: current_date
        run: echo "current_date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Create MDX file
        run: |
          mkdir -p ./changelog/${{ steps.folder_date.outputs.folder_date }}
          echo "${{ github.event.inputs.log }}" > ./changelog/${{ steps.folder_date.outputs.folder_date }}/${{ steps.current_date.outputs.current_date }}-${{ github.event.inputs.small_title }}.mdx
      - name: Create pull request towards the main branch
        uses: peter-evans/create-pull-request@v4.1.1
        with:
          token: ${{ secrets.GITHUB_CHANGELOG_CONTRIBUTION_TOKEN }}
          commit-message: 'feat(changelog): add new entry'
          title: 'feat(changelog): ${{ github.event.inputs.small_title }} ${{ steps.current_date.outputs.current_date }}'
          body: |
            This Pull Request have been automatically created by a Scaler.

            Please review it carefully before merging it.
          branch: docs/changelog/${{ steps.branch_id.outputs.id }}
          delete-branch: true
          reviewers: bene2k1, nedaehm, ldecarvalho-doc, RoRoJ
          labels: changelog
