name: Typos Check

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run typos on modified files
        uses: crate-ci/typos@v1.40.0
        with:
          files: pages/