name: Typos Check

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: main  

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 
        with:
          # Avoid using single or double quotes for multiline patterns
          files: |
            pages/**.mdx


      - name: Run typos on modified files in pages/
        uses: crate-ci/typos@v1.40.0
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          files: ${{ steps.changed-files.outputs.files }}