name: Typos Check

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: main  

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 
        with:
          # Avoid using single or double quotes for multiline patterns
          files: |
            pages/**.mdx

      - name: List changed files
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done

      - name: Run typos on modified files in pages/
        uses: crate-ci/typos@v1.40.0
        if: steps.changed-files.outputs.any_changed == 'true'
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        with:
          files: ${ALL_CHANGED_FILES}