name: Typos Check

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        run: |
          # Get the list of files changed in the PR
          echo "CHANGED_FILES<<EOF" >> $GITHUB_OUTPUT
          git diff --name-only ${{ github.event.pull_request.base.sha }} HEAD | grep '^pages/' >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Run typos on modified files in pages/
        uses: crate-ci/typos@v1.40.0
        if: steps.changed-files.outputs.CHANGED_FILES != ''
        with:
          files: ${{ steps.changed-files.outputs.CHANGED_FILES }}