name: Check links on schedule
on:
  schedule:
    - cron: "0 17 * * 0" # Runs every Monday at 09:00 AM
jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: filiph/linkcheck@3.0.0
      with:
        arguments: https://www.scaleway.com/en/docs/
